.details {
  background-color: #f9629f;
}

.detailsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailsList li {
  background-color: #9f2b68;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 1.2rem;
}

.curName {
  margin-left: auto;
}

.right-details {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}
